.headerContainer {
   

    position: sticky;
    top: 0;
    width: 100%;


    border-bottom: 1px solid rgb(235, 235, 235);

    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.03);
}

.headerContainer .content {
    display: flex;
    justify-content: space-between;

    height: 4.5rem;
    max-width: 80rem;
    margin: auto;
}

.headerContainer section {
    display: flex;
    align-items: center;
}

.headerContainer .logo button {
    display: flex;
    align-items: center;

    border: 0;
    background: transparent;
    cursor: pointer;

    height: 100%;
}

.headerContainer .logo button img {
    width: 2.6rem;
    height: 2.6rem;
}

.headerContainer .logo button span {
    margin-left: .6rem;
}

.headerContainer .buttons button {
    border: 0;
    background: transparent;
    cursor: pointer;
    width: 8rem;

    height: 100%;
}

.headerContainer .buttons button:hover {
    background: #ececec;
}

@media screen and (max-width: 1400px) {
    .headerContainer .content {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 520px) {
    .headerContainer .content .buttons {
        display: none;
    }

    .headerContainer .content .logo {
        display: flex;
        margin: auto;
    }
}