.landingContainer {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.landingContainer div img {
    width: 100%;
}

.landingContainer .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 35rem;
    line-height: 1.5;
}

.landingContainer .content div:first-child h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.landingContainer .content .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 4rem;
}

.landingContainer .content .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 4px;
    padding: 1rem;
    gap: .6rem;

    background: transparent;
    cursor: pointer;

    transition: .2s;
}

.landingContainer .content .buttons .accessPlatform {
    flex: 1;

    margin-right: .6rem;
    background: var(--primary);
    color: var(--background);
}

.landingContainer .content .buttons .accessPlatform:hover {
    background: var(--primary-dark);
}

.landingContainer .content .buttons .signup:hover {
    text-decoration: underline 2px;
}

@media screen and (max-width: 1150px) {
    .landingContainer {
        gap: 0;
        margin: 0 2rem;
    }

    .landingContainer div img {
        display: none;
    }

    .landingContainer .content .buttons {
        display: flex;
        flex-direction: column;
    }
}